Repository swe-ms-boun/2018fall-swe574-g1, pull requests merged in 2018-10, with the labels that each got.

#21 Feature/taneresme/planning
  README.md
  docs/project-plan.mpp
  docs/project-plan.pdf
Labels: type.project-plan

#22 Develop
  README.md
  docs/general-project-plan.png
  docs/project-plan.mpp
  docs/project-plan.pdf
Labels: type.project-plan

#23 feat: user registration
  .gitignore
  pom.xml
  src/main/java/com/boun/swe/mnemosyne/Application.java
  src/main/java/com/boun/swe/mnemosyne/config/WebSecurityConfig.java
  src/main/java/com/boun/swe/mnemosyne/controller/UserController.java
  src/main/java/com/boun/swe/mnemosyne/enums/Role.java
  src/main/java/com/boun/swe/mnemosyne/model/User.java
  src/main/java/com/boun/swe/mnemosyne/repository/UserRepository.java
  src/main/java/com/boun/swe/mnemosyne/service/SecurityService.java
  src/main/java/com/boun/swe/mnemosyne/service/UserDetailsServiceImpl.java
  src/main/java/com/boun/swe/mnemosyne/service/UserService.java
  src/main/java/com/boun/swe/mnemosyne/validator/UserValidator.java
  src/main/resources/application.properties
  src/main/resources/static/css/fv.css
  src/main/resources/static/css/style.css
  src/main/resources/static/js/fv.min.js
  src/main/resources/templates/login.html
  src/main/resources/templates/register.html
  src/main/resources/templates/welcome.html
  src/main/resources/validation.properties
  src/test/java/com/boun/swe/mnemosyne/ApplicationTests.java
Labels: tier.db, tier.ui, type.design

#33 project plan updated
  docs/project-plan.mpp
  docs/project-plan.pdf
Labels: priority.low, type.project-plan
